
*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}

form.example button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

