h2{
    color: #222;
    text-align: center;
}

input{
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #01579b;
    color: #222;
    font-size: 16px;
    margin-bottom: 15px;
}

button{
    background-color: #1976d2;
    border: 1px solid #01579b;
    color: #fff;
}

.content{
    text-align: center;
}

.card{
    display: inline-block;
    width: 400px;
    margin-right: 40px;
    border: 1px solid #01579b;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    background-color: #fff;
    padding: 20px;
}
