{% extends "base.html" %}
{% block content %}
<h1>Add new question</h1>
<form action="/add-question" method="post">
    Title: <br/>
    <input type="text" name="title" class="form-control"><br><br/>
    Message: <br/>
    <textarea name="message" class="md-textarea form-control"/></textarea><br><br/>
    <!--Image:<br/>-->
    <textarea name="image" hidden="hidden"/></textarea><br>
    <button type="submit" class="btn btn-primary">Add question</button> <a href="/"><button class="btn btn-default" type="button"n>Cancel</button></a>
</form>
{% endblock %}