<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post">
    <h1>Add User Story</h1>
        Story Title: <br/>
        <input type="text" name="story_title"><br><br/>
        User Story: <br/>
        <textarea name="user_story"/></textarea><br><br/>
        Acceptance Criteria:<br/>
        <textarea name="acceptance_criteria"/></textarea><br><br/>
        Business value:<br/>
        <input type="number" name="business_value" value="500"><br><br/>
        Estimation:<br/>
        <input type="number" name="estimation" value="2"><br><br/><br/>
        <input type="submit" value="Add new User Story">
    </form>
</body>
</html>