<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <h1>Edit question</h1>
    <form action="/question/{{question.id}}/update" method="post">
        Title: <br/>
        <input type="text" name="title" value="{{ question.title }}"><br><br/>
        Message: <br/>
        <textarea name="message"/>{{ question.message }}</textarea><br><br/>
        Image:<br/>
        <textarea name="image" />{{ question.image }}</textarea><br><br/>
        <button type="submit">Save</button>
    </form>
</body>
</html>