{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col text-right">
        {% if session %}
            <form action="/add-question" method="get">
                <button class="btn btn-primary mb-2" type="submit">Ask a question</button>
            </form>
        {% endif %}
    </div>
    <div>
        <form action="/list_users">
            <button type="submit" class="btn btn-primary mb-2">List of Users</button>
        </form>
     </div>
</div>
<div class="row">
    <div class="col text-right">
        <form action="/all" method="get">
            <button type="submit" class="btn btn-default">Show all</button>
        </form>
    </div>
    <div>
        <form action="/latest" method="get">
            <button type="submit" class="btn btn-default mb-3">Latest</button>
        </form>
    </div>
</div>
<h3>{% if request.path == '/latest'%} Latest 5 questions: {% else %} All questions: {% endif %}</h3>
    {% for question in questions %}
    <div class="row border mb-2">
        <div class="col p-1">
            <a href="/question/{{question.id}}/vote/1/q"><i class="fa fa-thumbs-up p-2" style="cursor: pointer;"></i></a>
            <a href="/question/{{question.id}}/vote/-1/q"><i class="fa fa-thumbs-down p-2" style="cursor: pointer;"></i></a> {{question.vote_number}} votes
            &nbsp; {{question.view_number}} views
        </div>
        <div class="col-md-3 p-2"><a href="/question/{{ question.id }}">{{question.title}}</a></div>
        <div class="col-md-5 p-2">{{question.message}}</div>
        <div class="col-md-1 p-2 small text-right"><b>{{question.username}}</b></br>{{question.submission_time.strftime("%Y-%m-%d %H:%M")}}</div>
    </div>
    {% endfor %}
{% endblock %}

