<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>submission time</td>
                <td>view number</td>
                <td>vote_number</td>
                <td>title</td>
                <td>message</td>
                <td>image</td>
                <td>actions</td>
            </tr>
            {% for item in questions %}
                <tr>
                    <td>{{item['submission_time']}}</td>
                    <td>{{item['view_number']}}</td>
                    <td>{{item['vote_number']}}</td>
                    <td><a href="/question/{{item['id']}}">{{item['title']}}</a></td>
                    <td>{{item['message']}}</td>
                    <td>{{item['image']}}</td>
                    <td><a href="/question/{{ item['id'] }}/delete">DELETE</a></td>
                </tr>
            {% endfor %}
        </thead>
    </table>
    <form action="/add-question" method="get">
        <button type="submit">Ask a question</button>
    </form>
</body>
</html>