<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
         <thead>
            <tr>
                <td>title</td>
                <td>message</td>
                <td>image</td>
            </tr>
         </thead>
        <tbody>
            <tr>
                <td>{{question.title}}</td>
                <td>{{question.message}}</td>
                <td>{{question.image}}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>