{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1>{{question.title}}</h1>
     <hr style="width: 100%; border-top: 1px solid #007bff;">
</div>

<div class="row text-justify">{{question.message}}</div>
<div class="row">{{question.image}}</div>
<div class="row">
    <div class="col-md-2"><a href="/question/{{ question.id }}/new-comment">add a comment</a></div>
    <div class="col-md-2"><a href="/question/{{ question.id }}/edit">update question</a></div>
    <div class="col-md-2"><a href="/question/{{ question.id }}/delete">delete question</a></div>
</div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-9">

    {% if comments|length > 0 %}
        <h5 class="mt-2">Comments:</h5>
    {% endif %}
    {% for comment in comments %}
        <div class="row border justify-content-md-center">
            <div class="col-md-auto small p-2 ">{{comment.message}}</div>
            <div class="col-md-auto small p-2">{{comment.submission_time.strftime("%Y-%m-%d %H:%M")}}</div>
            <div class="col-md-auto small p-2"><a href="/delete-comment/{{comment.id}}">delete comment</a></div>
        </div>
    {% endfor %}
</div>
</div>


{% if answers|length > 0 %}
    <div class="row mt-4"><h2>Answers:</h2></div>
{% endif %}
    {% for answer in answers %}
        <div class="row border">
            <div class="col-md-2"><a href="/answer/{{answer.id}}/vote"><i class="fa fa-thumbs-up" style="cursor: pointer;"></i></a><span style="margin: 10px;">{{answer.vote_number}}</span>votes</div>
            <div class="col-md-4">{{answer.message}}</div>
            <div class="col-md-1"><a href="#">add comment</a></div>
            <div class="col-md-1"><a href="/answer/{{answer.id}}/edit">update answer</a></div>
            <div class="col-md-2"><a href="/answer/{{answer.id}}/delete">delete</a></div>
            <div class="col-md-2 small">{{answer.submission_time.strftime("%Y-%m-%d %H:%M")}}</a></div>
        </div>
    {% endfor %}

<div class="row mt-4"><h2>Your answer...</h2></div>
<form class="mt-4" action="/question/{{question.id}}/new-answer" method="post">
    <textarea name="message" class="md-textarea form-control"></textarea>
    <textarea name="image" hidden="hidden"></textarea><br/>
    <button type="submit" class="btn btn-primary">Add answer</button>
</form>
{% endblock %}

