<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <div class="card">
            <h2>Rejestracja</h2>
            <form action="/registration" method="post">
                <input type="text" name="username" placeholder="Wpisz swoje imię">
                <input type="password" name="password" placeholder="Wpisz hasło">
                <input type="password" name="repeated_password" placeholder="Powtórz hasło">
                <button>Zarejestruj się</button>
            </form>
        </div>
    </div>


<div class="content">
        <div class="card">
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="text" name="username_login" placeholder="Wpisz swoje imię">
                <input type="password" name="password_login" placeholder="Wpisz hasło">
                <button>Login in</button>
            </form>
        </div>
    </div>


</div>
</body>
</html>