{% extends "base.html" %}
{% block content %}
<body>

<h1>{{ session['username'] }}</h1>
<hr style="width: 100%; border-top: 1px solid #007bff;">

{% if user_question|length > 0 %}
    <h2>Questions:</h2>
    {% for question in user_question %}
     <div class="row">
         <div class="col-md-2 border"><a href="/question/{{ question.id }}">{{ question.title }}</a></div>
        <div class="col-md-2 border">{{ question.submission_time.strftime("%Y-%m-%d %H:%M")}}</div>
     </div>
    {% endfor %}
{% endif %}

{% if user_answers|length > 0 %}
    <h2>Answers:</h2>
    {% for answer in user_answers %}
        <div class="row">
            <div class="col-md-2 border"><a href="/question/{{ answer.question_id }}">{{ answer.message }}</a></div>
            <div class="col-md-2 border">{{ answer.submission_time.strftime("%Y-%m-%d %H:%M")}}</div>
        </div>
    {% endfor %}
{% endif %}

{% if user_comments|length > 0 %}
    <h2>Comments:</h2>
    {% for comment in user_comments %}
        <div class="row">
            <div class="col-md-2 border">
                {% if comment.question_id %}
                    <a href="/question/{{comment.question_id}}" >{{ comment.message }}</a>
                {% else %}
                    <a href="/question/{{comment.answer_question_id}}" >{{ comment.message }}</a>
                {% endif %}
            </div>
            <div class="col-md-2 border">{{ comment.submission_time.strftime("%Y-%m-%d %H:%M")}}</div>
        </div>
    {% endfor %}
{% endif %}
</body>

{% endblock %}
